<% layout('layouts/boilerplate')%>
    <div id="map" style="width: 100%; height: 400px"></div>
    <h1>ALL HOUSES</h1>
    <div>
        <a href="/home-finder/new">Add New </a>
    </div>
        <% for (let hfinder of hfinders) {%>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <%if(hfinder.image.langth) {%>
                        <img class="img-fluid" src="<%= hfinder.image%>" alt="">
                        <%} else {%>
                            <img class="img-fluid" src="https://res.cloudinary.com/dbqx6e9px/image/upload/v1665208960/Home/wdnau33f5hstr40ibgcz.jpg">
                            <%}%>

                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= hfinder.title%></h5>
                    
                            <p class="card-text"><%= hfinder.description%>
                                <small class="text-muted"><%= hfinder.location%></small></p>
                                <small class="text-muted"><%= hfinder.price%></small></p>
                            <a class="btn btn-primary" href="/home-finder/<%= hfinder._id%>">View <%= hfinder.title%></a>
                        </div>
                    </div>
                </div>

            </div>
            
        <% }%>

        <script>
            const hfinders = {features: <%-JSON.stringify(hfinders)%>}
        </script>
        
        <script src="/clusterMap.js"></script>
