<% layout('layouts/boilerplate')%>
    <h1>Details</h1>
    <h1><%= hfinder.title %></h1>
    <h1><%= hfinder.location %></h1>
    <img src="<%= hfinder.image%>" alt="">
    <p><%= hfinder.description %></p>
    <p><%= hfinder.price %></p>
    <p>
        <a href="/home-finder/<%=hfinder._id%>/edit">Edit</a>
    </p>
    <form action="/home-finder/<%=hfinder._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <footer>
        
        <a href="/home-finder" >All Houses</a>
    </footer>


 